<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="GIAA.SettingsConfig.FirstInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GIAA.SettingsConfig.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GIAA.SettingsConfig.HttpUrl" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GIAA.SettingsConfig.Library" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GIAA.SettingsConfig.Login" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GIAA.SettingsConfig.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GIAA.SettingsConfig.SettingsPage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GIAA.SettingsConfig.LoginPage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GIAA.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Theme" value="theme_light"/>
		<add key="Language" value="zh-cn"/>
		<add key="PowerBoot" value="0"/>
		<add key="MinimizeToTray" value="false"/>
	</appSettings>
 <userSettings>
  <GIAA.SettingsConfig.FirstInfo>
   <setting name="DayInfoStr" serializeAs="String">
    <value />
   </setting>
   <setting name="OneWordStr" serializeAs="String">
    <value />
   </setting>
   <setting name="IsFirstOpenNews" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SaveDayTime" serializeAs="String">
    <value />
   </setting>
   <setting name="IsFirstOpenCalendar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CityInfo" serializeAs="String">
    <value />
   </setting>
  </GIAA.SettingsConfig.FirstInfo>
  <GIAA.SettingsConfig.Settings1>
   <setting name="CalendarOneBase64" serializeAs="String">
    <value />
   </setting>
   <setting name="CalendarTwoBase64" serializeAs="String">
    <value />
   </setting>
  </GIAA.SettingsConfig.Settings1>
  <GIAA.SettingsConfig.HttpUrl>
   <setting name="LoggingStatusUrl" serializeAs="String">
    <value>http://172.16.2.2:801/eportal/portal/mac/find</value>
   </setting>
   <setting name="LogoutUrl" serializeAs="String">
    <value>http://172.16.2.2/drcom/logout?callback=dr1003</value>
   </setting>
   <setting name="UpdateUrl" serializeAs="String">
    <value>https://gitee.com/xuebulai/GIAA/raw/master/Updata.json</value>
   </setting>
   <setting name="LoginUrl" serializeAs="String">
    <value>http://172.16.2.2/drcom/login?callback=dr1003&amp;DDDDD=UserId&amp;upass=PasswordStr&amp;0MKKey=123456&amp;R1=0&amp;R2=&amp;R3=NetType&amp;R6=1&amp;para=00&amp;v6ip=&amp;terminal_type=2</value>
   </setting>
   <setting name="GlutUrl" serializeAs="String">
    <value>https://www.glut.edu.cn</value>
   </setting>
   <setting name="OneWordUrl" serializeAs="String">
    <value>https://v1.hitokoto.cn/?c=d&amp;c=i&amp;c=k</value>
   </setting>
   <setting name="BaseUrl" serializeAs="String">
    <value>http://172.16.2.2</value>
   </setting>
   <setting name="BaseHostUrl" serializeAs="String">
    <value>172.16.2.2</value>
   </setting>
   <setting name="DayInfoUrl" serializeAs="String">
    <value>https://api.xygeng.cn/day</value>
   </setting>
   <setting name="GlutCalendarUrl" serializeAs="String">
    <value>http://xxfw.glut.edu.cn/GlutInfoService/jiaoxue-jxrl.html</value>
   </setting>
   <setting name="GuilinWeatherUrl" serializeAs="String">
    <value>http://t.weather.itboy.net/api/weather/city/101300501</value>
   </setting>
   <setting name="GetUrlJson" serializeAs="String">
    <value>https://gitee.com/xuebulai/GIAA/raw/master/Url.json</value>
   </setting>
   <setting name="UrlJsonStr" serializeAs="String">
    <value />
   </setting>
  </GIAA.SettingsConfig.HttpUrl>
  <GIAA.SettingsConfig.Library>
   <setting name="FillAccount" serializeAs="String">
    <value />
   </setting>
   <setting name="FillPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="FillNetType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IsFill" serializeAs="String">
    <value>False</value>
   </setting>
  </GIAA.SettingsConfig.Library>
  <GIAA.SettingsConfig.Login>
   <setting name="PopulatedAccount" serializeAs="String">
    <value />
   </setting>
   <setting name="PopulatedPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="PopulatedNetType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AutomaticLogin" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RememberPassword" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsLogged" serializeAs="String">
    <value>False</value>
   </setting>
  </GIAA.SettingsConfig.Login>
  <GIAA.SettingsConfig.Settings>
   <setting name="MinimizeToTray" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PowerBoot" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CheckInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Logout" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Disconnection" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsSwitchLanguage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OpenNotification" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ChatHeadAccount" serializeAs="String">
    <value />
   </setting>
   <setting name="ChatName" serializeAs="String">
    <value />
   </setting>
   <setting name="ChatHeadBase64" serializeAs="String">
    <value />
   </setting>
   <setting name="DefaultPage" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IsOpenCheck" serializeAs="String">
    <value>True</value>
   </setting>
  </GIAA.SettingsConfig.Settings>
  <GIAA.SettingsConfig.SettingsPage>
   <setting name="MinimizeToTray" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PowerBoot" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CheckInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Logout" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Disconnection" serializeAs="String">
    <value>False</value>
   </setting>
  </GIAA.SettingsConfig.SettingsPage>
  <GIAA.SettingsConfig.LoginPage>
   <setting name="PopulatedAccount" serializeAs="String">
    <value />
   </setting>
   <setting name="PopulatedPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="PopulatedNetType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AutomaticLogin" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RememberPassword" serializeAs="String">
    <value>False</value>
   </setting>
  </GIAA.SettingsConfig.LoginPage>
  <GIAA.Settings>
   <setting name="MinimizeToTray" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PowerBoot" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CheckInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Logout" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Disconnection" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PopulatedAccount" serializeAs="String">
    <value />
   </setting>
   <setting name="PopulatedPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="PopulatedNetType" serializeAs="String">
    <value>0</value>
   </setting>
  </GIAA.Settings>
 </userSettings>
</configuration>